.container {
  display: flex;
  background-color: rgb(236, 236, 236);
  width: 100%;
  padding: 5% 0 0 5%;
}
.title {
  font-size: 30px;
  padding-bottom: 2%;
}
.subtitle {
  font-size: 18px;
  padding-bottom: 1%;
}
.boxImages {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.containerCard {
  margin: 20px 0;
  min-width: 300px;
  width: 30%;
  padding: 10px 20px;
  height: 60%;
}
.imgCard {
  width: 95%;
  padding-bottom: 5%;
}
.titleCard {
  height: auto;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #3f3f3f;
}

.subtitleCard {
  height: 100px;
  text-align: start;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #3f3f3f;
}
.btnCard {
  margin: 0 auto;
  font-size: 14px;
  border: solid #4ca84a 3px;
  border-bottom: transparent;
  border-right: transparent;
  padding: 5px;
}
.btnCard:hover{
  background-color: #6dd26b;
}
.boxFooter{
  width: 90%;
  margin-bottom: 20%;
  background-color: #6dd26b;
  padding-bottom: 5px;
  padding-right: 5px;
}

/* boxImages no wrap */

@media (max-width: 600px) {
  .boxImages {
    flex-wrap: nowrap;
  }
}