.container {
  display: flex;
  background-color: rgb(236, 236, 236);
  width: auto;
  padding: 5% 0 0 5%;
}
.title{
  width: auto;
    font-size: 30px;
    padding-bottom: 2%;
}
.subtitle{
  width: auto;
    font-size: 18px;
    padding-bottom: 1%;
}
