.navBar {
  height: auto;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 100%;
  max-width: 280px;
  background-color: rgb(236, 236, 236);
}
.menu {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.imgContainer1 {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.imgContainer2 {
  display: flex;
  justify-content: center;
}
.imagen {
  padding: 0 10px;
}
.logo {
  width: 100%;
  margin: 0 auto;
}
.btnNavBar:hover {
  background-color: "red" !important;
}

.question {
  margin-left: 28px;
  padding-top: 15px;
}

.question {
  animation: question infinite 1s ease-in-out;
}

@keyframes question {
  0% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-10%);
  }
}

@media (max-width: 600px) {
  .navBar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
  }

  .question {
    margin-left: 3px;
    padding-top: 15px;
  }
}
