.navBar {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 100%;
  max-width: 280px;
}
.menu {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.imgContainer1 {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.imgContainer2 {
  display: flex;
  justify-content: center;
}
.imagen {
  padding: 0 10px;
}
.logo {
  width: 100%;
  margin: 0 auto;
}
.btnNavBar:hover {
  background-color: "red" !important;
}
