.viewHome,
.viewWhoAmI,
.viewFunction,
.viewDocs,
.viewContact {
  display: flex;
  position: absolute;
}
@media (max-width: 600px) {
  .viewHome,
  .viewWhoAmI,
  .viewFunction,
  .viewDocs,
  .viewContact {
    transform: rotate(90deg);
    position: absolute;
  }
  .viewHome {
  }
  .viewWhoAmI {
    top: 220px;
  }
  .viewFunction {
    top: 40px;
  }
  .viewDocs {
    top: -10px;
  }
  .viewContact {
    top: -80px;
    height: auto;
  }
}
